name: Release

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Upgrade pip
        run: |
          pip install --constraint=${{ github.workspace }}/.github/workflows/constraints.txt pip
          pip --version

      - name: Install PDM
        run: |
          pipx install --pip-args=--constraint=${{ github.workspace }}/.github/workflows/constraints.txt pdm
          pdm --version

      - name: Build package
        run: |
          pdm build

      - name: Publish package on PyPI
        if: github.event.action == 'published'
        run: |
          pdm publish --no-build

      - name: Publish package on TestPyPI
        if: github.event.action != 'published'
        run: |
          pdm publish --no-build --repository testpypi
